<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Info</title>
  </head>
  <body>
    <div>
        <a href="/uploadfiles">Back Home</a>
      <h1>File Info</h1>
      <ul>
        <% if(Object.keys(returnedFileInfo).length>0){%>
        <li>Original File Name: <%=returnedFileInfo.Original_file_name%></li>

        <li>Hashed File Name: <%=returnedFileInfo.hashed_file_name%></li>

        

        <li>File Size: <%=returnedFileInfo.file_size%></li>

        <li>Folder Name: <%=returnedFileInfo.folder_name %></li>

        <li>Date Created: <%=returnedFileInfo.date_saved %></li>

         <a href=<%=returnedFileInfo.file_url%>>Download File</a>
        <%} else{%>
        <p>No Info About file available</p>
        <%} %>
      </ul>
    </div>
  </body>
</html>
